/* line 3, ../sass/typography.scss */
.section-header {
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0 40px 40px 40px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  color: #262626;
  text-align: center;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.85em;
}
/* line 15, ../sass/typography.scss */
.section-header small {
  display: block;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.3em;
  text-transform: none;
  margin-top: 10px;
}

/* line 25, ../sass/typography.scss */
.btn {
  border-radius: 0;
  border: 1px solid #fff;
  outline: 1px solid #f00;
}
/* line 30, ../sass/typography.scss */
.btn.btn-default {
  border: 1px solid #fff;
  outline: 1px solid #414141;
}

/* line 36, ../sass/typography.scss */
#social {
  float: right;
  line-height: 30px;
  padding-top: 15px;
}
/* line 41, ../sass/typography.scss */
#social > h2 {
  float: left;
  font-size: 1em;
  margin: 3px 10px 0 0;
  color: #999999;
}
/* line 48, ../sass/typography.scss */
#social > a {
  border: 1px solid #878787;
  display: block;
  float: left;
  height: 21px;
  margin: 0 5px;
  width: 20px;
  position: relative;
}
/* line 57, ../sass/typography.scss */
#social > a img {
  width: 100%;
  display: block;
  position: absolute;
  margin: 0;
}
/* line 63, ../sass/typography.scss */
#social > a img.hover-on {
  display: none;
}
/* line 67, ../sass/typography.scss */
#social > a img.hover-off {
  display: block;
}
/* line 74, ../sass/typography.scss */
#social > a:hover img.hover-on {
  display: block;
}
/* line 78, ../sass/typography.scss */
#social > a:hover img.hover-off {
  display: none;
}

/* line 86, ../sass/typography.scss */
h1, h2, h3, h4 {
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* line 3, ../sass/global.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #e5e2e4;
  color: #262626;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* line 15, ../sass/global.scss */
a {
  color: #262626;
}
/* line 18, ../sass/global.scss */
a:hover {
  color: #000;
  text-decoration: none;
}

/* line 24, ../sass/global.scss */
header#main-header {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
/* line 29, ../sass/global.scss */
header#main-header:after {
  content: ' ';
  display: block;
  background: url(//cdn.shopify.com/s/files/1/0639/4977/t/1/assets/paper-edge.png) repeat-x;
  height: 8px;
  position: relative;
  top: 0;
  width: 100%;
}
/* line 40, ../sass/global.scss */
header#main-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 45, ../sass/global.scss */
header#main-header nav ul li {
  float: left;
}
/* line 48, ../sass/global.scss */
header#main-header nav ul li a {
  bottom: -10px;
  display: block;
  font-weight: 700;
  font-size: 0.8em;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  line-height: 1.3em;
  margin: 0 15px 15px 15px;
  padding: 85px 0 0 0;
  position: relative;
  text-transform: uppercase;
}
/* line 61, ../sass/global.scss */
header#main-header nav ul li a:hover, header#main-header nav ul li a.active {
  border-bottom: 3px solid #000;
  margin: 0 15px 10px 15px;
}
/* line 67, ../sass/global.scss */
header#main-header nav ul li#logo {
  margin-right: 15px;
}
/* line 70, ../sass/global.scss */
header#main-header nav ul li#logo a {
  border: 0;
  bottom: initial;
  height: 105px;
  margin: 11px 0 0 0;
  padding: 0;
  text-indent: -9999px;
  width: 81px;
}
/* line 82, ../sass/global.scss */
header#main-header nav ul li:nth-child(4) a {
  border-color: #999;
  color: #999;
}
/* line 89, ../sass/global.scss */
header#main-header nav ul li:nth-child(5) a {
  border-color: #999;
  color: #999;
}
/* line 98, ../sass/global.scss */
header#main-header #cart-info {
  padding-top: 85px;
  text-align: right;
}
/* line 102, ../sass/global.scss */
header#main-header #cart-info .login {
  border-bottom: 1px transparent;
  color: #999;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.05em;
  margin-right: 28px;
  position: relative;
  top: -3px;
}
/* line 112, ../sass/global.scss */
header#main-header #cart-info .login:hover {
  border-bottom: 1px solid #999;
}
/* line 117, ../sass/global.scss */
header#main-header #cart-info .toggle-cart {
  color: #666;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  line-height: 45px;
  position: relative;
  text-align: center;
  top: -3px;
  width: 29px;
}

/* line 131, ../sass/global.scss */
.shadow-header {
  text-shadow: 1px 1px 0px #e6e3e4, 2px 2px 0px #777, 1px 2px 0px #777,2px 1px 0px #777;
}
/* line 134, ../sass/global.scss */
.shadow-header small {
  text-shadow: none;
}

/* line 139, ../sass/global.scss */
.shadow-header-grey {
  border-color: #666;
  color: #666;
  text-shadow: 1px 1px 0px #e6e3e4, 2px 2px 0px #666, 1px 2px 0px #666,2px 1px 0px #666;
}
/* line 144, ../sass/global.scss */
.shadow-header-grey small {
  margin: 0 30px;
  margin-top: 3px;
  text-shadow: none;
}

/* line 151, ../sass/global.scss */
.shadow-header-inverted {
  text-shadow: 2px 2px 0px #333, 3px 3px 0px #9f9f9f;
}

/* line 155, ../sass/global.scss */
#main-content {
  padding: 60px 0 0 0;
}

/* line 159, ../sass/global.scss */
footer#main-footer {
  padding-top: 60px;
  background-color: #fff;
  margin-top: 0;
  overflow: hidden;
}
/* line 165, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe {
  background-color: #e5e2e4;
  height: 45px;
  position: relative;
}
/* line 170, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input {
  background-color: #EEE;
  border: 0;
  color: #999;
  display: block;
  font-size: 0.7em;
  font-style: italic;
  height: 45px;
  padding: 10px;
  position: absolute;
  width: 100%;
  -webkit-transition: all .2s;
}
/* line 183, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input::-webkit-input-placeholder {
  font-style: italic;
}
/* line 187, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:-moz-placeholder {
  font-style: italic;
}
/* line 191, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input::-moz-placeholder {
  font-style: italic;
}
/* line 195, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:-ms-input-placeholder {
  font-style: italic;
}
/* line 200, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus {
  color: #000;
}
/* line 203, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus::-webkit-input-placeholder {
  color: #000;
}
/* line 207, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus:-moz-placeholder {
  color: #000;
}
/* line 211, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus::-moz-placeholder {
  color: #000;
}
/* line 215, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus:-ms-input-placeholder {
  color: #000;
}
/* line 221, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe button {
  width: 45px;
  height: 45px;
  float: right;
  border: 0;
  position: relative;
  z-index: 1;
}
/* line 231, ../sass/global.scss */
footer#main-footer .social-follow-us {
  position: relative;
  float: right;
  top: -4px;
}
@media screen and (max-width: 1200px) {
  /* line 231, ../sass/global.scss */
  footer#main-footer .social-follow-us {
    top: -30px;
  }
}
/* line 240, ../sass/global.scss */
footer#main-footer .social-follow-us h2 {
  color: #999;
  display: block;
  float: left;
  font-size: .7em;
  font-weight: normal;
  height: 50px;
  letter-spacing: normal;
  line-height: 50px;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  /* line 240, ../sass/global.scss */
  footer#main-footer .social-follow-us h2 {
    clear: both;
    height: 30px;
    line-height: 30px;
  }
}
/* line 259, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon {
  background-color: #eaeaea;
  display: block;
  float: left;
  margin: 0 1px 1px;
  text-align: center;
  position: relative;
  width: 45px;
  height: 45px;
}
@media screen and (max-width: 1200px) {
  /* line 271, ../sass/global.scss */
  footer#main-footer .social-follow-us a.social-icon:nth-child(2n) {
    clear: both;
  }
}
/* line 276, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon img {
  position: absolute;
}
/* line 279, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon img.hover-on {
  display: none;
}
/* line 283, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon img.hover-off {
  display: block;
}
/* line 290, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon:hover img.hover-on {
  display: block;
}
/* line 294, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon:hover img.hover-off {
  display: none;
}
/* line 302, ../sass/global.scss */
footer#main-footer nav {
  margin-bottom: 60px;
  margin-top: 60px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  /* line 302, ../sass/global.scss */
  footer#main-footer nav {
    margin-bottom: 60px;
    margin-top: 30px;
  }
}
/* line 312, ../sass/global.scss */
footer#main-footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 317, ../sass/global.scss */
footer#main-footer nav ul li {
  float: left;
}
@media screen and (max-width: 1200px) {
  /* line 317, ../sass/global.scss */
  footer#main-footer nav ul li {
    width: 33%;
  }
  /* line 323, ../sass/global.scss */
  footer#main-footer nav ul li:nth-child(3n + 1) {
    clear: left;
    text-align: right;
  }
  /* line 328, ../sass/global.scss */
  footer#main-footer nav ul li:nth-child(3n + 2) {
    text-align: center;
  }
}
/* line 333, ../sass/global.scss */
footer#main-footer nav ul li a {
  color: #999;
  display: block;
  font-size: 0.72em;
  padding: 0 20px;
  text-transform: uppercase;
}
/* line 340, ../sass/global.scss */
footer#main-footer nav ul li a:hover {
  color: #000;
}
/* line 346, ../sass/global.scss */
footer#main-footer nav ul li:nth-child(1) a {
  padding-left: 0;
}
/* line 352, ../sass/global.scss */
footer#main-footer nav ul li:last-child a {
  padding-right: 0;
}

/* line 361, ../sass/global.scss */
#main-wrapper {
  left: 0;
  position: relative;
  width: 100%;
}

/* line 367, ../sass/global.scss */
#cart-flyout {
  background-color: #eaeaeb;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1) inset;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: -20%;
  top: 0;
  width: 20%;
}
/* line 378, ../sass/global.scss */
#cart-flyout .cart-top-btn {
  background-color: #505050;
  box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  float: left;
  height: 131px;
  line-height: 131px;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  font-size: 1vw;
}
/* line 391, ../sass/global.scss */
#cart-flyout .cart-top-btn#checkout {
  background-color: #fb0005;
}
/* line 396, ../sass/global.scss */
#cart-flyout .empty-cart {
  text-align: center;
}
/* line 400, ../sass/global.scss */
#cart-flyout .subtotal {
  background-color: #eaeaeb;
  box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
  clear: both;
  padding: 20px;
  width: 100%;
}
/* line 407, ../sass/global.scss */
#cart-flyout .subtotal h2 {
  font-size: 1.2em;
}
/* line 410, ../sass/global.scss */
#cart-flyout .subtotal h2 .subtotal-price {
  float: right;
}
/* line 414, ../sass/global.scss */
#cart-flyout .subtotal h2 small {
  clear: both;
  display: block;
  font-size: 0.6em;
}
/* line 422, ../sass/global.scss */
#cart-flyout .number-of-items {
  clear: both;
  background-color: #d6d6d6;
  box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
  padding: 3px 0;
  text-align: center;
}
/* line 431, ../sass/global.scss */
#cart-flyout .cart-items .cart-item {
  background-color: #fff;
  border-bottom: 1px solid #eaeaeb;
  box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-size: 0.9em;
  color: #6c6c6c;
}
/* line 439, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .image {
  width: 30%;
  float: left;
  padding: 20px 10px 20px 20px;
}
/* line 444, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .image img {
  width: 100%;
}
/* line 449, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info {
  float: right;
  width: 70%;
  padding: 20px 20px 20px 10px;
}
/* line 454, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .remove-item {
  float: right;
  width: 16px;
  height: 16px;
}
/* line 460, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info h3 {
  font-size: 1em;
  margin: 0 0 5px;
}
/* line 465, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .qty {
  margin: 0 0 5px;
}
/* line 468, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .qty input {
  width: 30px;
  text-align: center;
}
/* line 473, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .qty .update-cart {
  font-size: 0.75em;
}

/**
 * Homepage Featured Product
 */
/* line 6, ../sass/index.scss */
.previewImage_container {
  border: 20px solid #fff;
  margin: 0 auto 80px auto;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
}
/* line 15, ../sass/index.scss */
.previewImage_container:hover {
  cursor: pointer;
}
/* line 18, ../sass/index.scss */
.previewImage_container:hover hr.bottom {
  bottom: 35%;
}
/* line 22, ../sass/index.scss */
.previewImage_container:hover hr.top {
  top: 31%;
}
/* line 27, ../sass/index.scss */
.previewImage_container:hover .button.action {
  bottom: 40%;
  opacity: 1;
}
/* line 31, ../sass/index.scss */
.previewImage_container:hover .button.action:hover {
  background: #d9000d;
}
/* line 37, ../sass/index.scss */
.previewImage_container:hover .copy {
  opacity: 1;
}
/* line 40, ../sass/index.scss */
.previewImage_container:hover .copy.availability {
  top: 45.5%;
}
/* line 44, ../sass/index.scss */
.previewImage_container:hover .copy.date {
  left: 10%;
}
/* line 48, ../sass/index.scss */
.previewImage_container:hover .copy.title {
  left: 10%;
}
/* line 53, ../sass/index.scss */
.previewImage_container:hover .blackscreen {
  opacity: 1;
}
/* line 58, ../sass/index.scss */
.previewImage_container hr {
  background: white;
  border: 0;
  height: 1px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10%;
  width: 80%;
  z-index: 1;
  -webkit-transition: all .5s;
}
/* line 69, ../sass/index.scss */
.previewImage_container hr.bottom {
  bottom: -10%;
}
/* line 73, ../sass/index.scss */
.previewImage_container hr.top {
  top: -10%;
}
/* line 80, ../sass/index.scss */
.previewImage_container img {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 87, ../sass/index.scss */
.previewImage_container .action.button {
  background: #fc0d1b;
  bottom: 30%;
  border: 1px solid #fff;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  outline: 1px solid #f00;
  padding: 10px 10px;
  position: absolute;
  width: 200px;
  z-index: 2;
  -webkit-transition: all .2s;
}
/* line 108, ../sass/index.scss */
.previewImage_container .copy {
  color: white;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  z-index: 2;
  -webkit-transition: all .5s;
}
/* line 117, ../sass/index.scss */
.previewImage_container .copy.availability {
  color: #CCC;
  font-size: .7em;
  left: 10%;
  top: 50%;
}
/* line 124, ../sass/index.scss */
.previewImage_container .copy.date {
  color: #CCC;
  left: -100%;
  top: 35%;
}
/* line 130, ../sass/index.scss */
.previewImage_container .copy.title {
  font-size: 2em;
  left: 100%;
  top: 40%;
}
/* line 139, ../sass/index.scss */
.previewImage_container .blackscreen {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  opacity: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .2s;
}

/**
 * We Are The Posters Section
 */
/* line 158, ../sass/index.scss */
#we-are-the-posters .we-are-the-posters-header {
  margin: 0 auto;
  width: 663px;
}

/* line 164, ../sass/index.scss */
#we-are-the-posters-video {
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 95px;
}
/* line 171, ../sass/index.scss */
#we-are-the-posters-video .video-container {
  background: white;
  border: 1px solid #000;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: -75px;
  width: 580px;
}
/* line 180, ../sass/index.scss */
#we-are-the-posters-video .video-container iframe {
  margin: 0;
  border: 0;
  display: block;
}
/* line 187, ../sass/index.scss */
#we-are-the-posters-video .small-social {
  margin: 0 auto;
  position: relative;
  right: -3px;
  text-align: right;
  top: -80px;
  width: 580px;
}
/* line 195, ../sass/index.scss */
#we-are-the-posters-video .small-social a {
  margin: 0 3px;
}
/* line 199, ../sass/index.scss */
#we-are-the-posters-video .small-social h2 {
  display: none;
}
/* line 203, ../sass/index.scss */
#we-are-the-posters-video .small-social .pinterest {
  display: none;
}

/**
 * Mission Section with Countdown
 */
/* line 213, ../sass/index.scss */
#mission-section {
  text-align: center;
  padding: 75px 0;
  margin-bottom: 60px;
}
/* line 218, ../sass/index.scss */
#mission-section h2 {
  color: #999999;
  font-size: 1.8em;
  margin: 0;
  text-transform: uppercase;
}
/* line 224, ../sass/index.scss */
#mission-section h2.mission-footer {
  font-size: 1.47em;
  margin-top: 5px;
}
/* line 230, ../sass/index.scss */
#mission-section h3 {
  color: #fff;
  font-size: 2.75em;
  margin: -3px 0 -2px;
  text-transform: uppercase;
}
/* line 237, ../sass/index.scss */
#mission-section hr {
  border-color: #888;
  min-width: 440px;
  width: 33%;
}
/* line 242, ../sass/index.scss */
#mission-section hr.bottom {
  margin-top: 30px;
}
/* line 247, ../sass/index.scss */
#mission-section p {
  margin-bottom: 35px;
  margin-top: 30px;
}
/* line 252, ../sass/index.scss */
#mission-section .btn-default {
  background-color: #535353;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 261, ../sass/index.scss */
#mission-section .btn-default:hover {
  color: #333;
  background: #fff;
}
/* line 267, ../sass/index.scss */
#mission-section.mission-white-bg {
  text-align: center;
  padding: 100px 0 50px 0;
  margin-bottom: 0;
  max-width: 550px;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* line 275, ../sass/index.scss */
#mission-section.mission-white-bg hr, #mission-section.mission-white-bg .btn-default {
  display: none;
}
/* line 279, ../sass/index.scss */
#mission-section.mission-white-bg h2 {
  color: #262626;
}
/* line 283, ../sass/index.scss */
#mission-section.mission-white-bg h3 {
  color: #000;
}

/**
 * Press Section
 */
/* line 293, ../sass/index.scss */
#press-section {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 10px;
}
/* line 299, ../sass/index.scss */
#press-section ul {
  list-style: none;
  margin: 145px 0 0 0;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  /* line 299, ../sass/index.scss */
  #press-section ul {
    margin: 375px 0 0 0;
  }
}
/* line 308, ../sass/index.scss */
#press-section ul li {
  float: left;
  width: 200px;
  min-height: 200px;
  margin-bottom: 20px;
  margin-right: 28px;
}
/* line 316, ../sass/index.scss */
#press-section ul li:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 321, ../sass/index.scss */
#press-section ul li:hover p {
  color: black;
}
/* line 326, ../sass/index.scss */
#press-section ul li:nth-child(2) {
  margin-left: 683px;
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  /* line 332, ../sass/index.scss */
  #press-section ul li:nth-child(2) {
    margin-left: 0;
    margin-right: 28px;
  }
}
/* line 338, ../sass/index.scss */
#press-section ul li p {
  color: #999;
  display: block;
  font-size: 0.7em;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: color .2s;
  transition: color .2s;
}
/* line 352, ../sass/index.scss */
#press-section ul li img {
  width: 100%;
  border: 10px solid #fff;
  margin-bottom: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/**
 * Collection page
 */
/* line 7, ../sass/product.scss */
.archive-border {
  width: 100%;
  height: 73px;
}

/* line 12, ../sass/product.scss */
#archived-products {
  background-color: #eeeeef;
  padding-bottom: 70px;
}
/* line 16, ../sass/product.scss */
#archived-products h1.section-header {
  margin-bottom: 48px;
}
/* line 19, ../sass/product.scss */
#archived-products h1.section-header a {
  color: inherit;
  -webkit-transition: color .2s;
  transition: color .2s;
}
/* line 24, ../sass/product.scss */
#archived-products h1.section-header a:hover {
  color: black;
}
/* line 30, ../sass/product.scss */
#archived-products .archive-section-header {
  text-align: center;
  color: #fff;
  font-size: 3em;
  width: 255px;
  height: 372px;
  padding-top: 100px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 41, ../sass/product.scss */
#archived-products .archive-section-header img {
  vertical-align: inherit;
}
/* line 46, ../sass/product.scss */
#archived-products > .container {
  padding-top: 40px;
}
/* line 50, ../sass/product.scss */
#archived-products .product {
  position: relative;
  top: -11px;
}
/* line 56, ../sass/product.scss */
#archived-products .row.products {
  margin-bottom: 28px;
}

/**
 * Product Thumb View
 */
/* line 66, ../sass/product.scss */
.product {
  display: inline-block;
  float: none;
  letter-spacing: 0.01em;
  width: 287px;
  margin: 20px;
}
/* line 73, ../sass/product.scss */
.product .image {
  height: 287px;
  line-height: 287px;
  text-align: center;
  margin-bottom: 24px;
  width: 287px;
}
/* line 80, ../sass/product.scss */
.product .image a {
  display: block;
}
/* line 84, ../sass/product.scss */
.product .image img {
  max-width: 287px;
  max-height: 287px;
  border: 10px solid #fff;
}
/* line 91, ../sass/product.scss */
.product .details {
  text-align: center;
}
/* line 94, ../sass/product.scss */
.product .details a {
  color: #666;
  font-size: 1.45em;
  text-transform: uppercase;
  display: block;
}
/* line 101, ../sass/product.scss */
.product .details .availability {
  background-color: #fff;
  clear: both;
  color: #666;
  display: inline-block;
  font-size: 0.7em;
  font-weight: normal;
  letter-spacing: -0.01em;
  line-height: 1.3em;
  margin-top: 10px;
  padding: 1px 4px 0 4px;
  position: relative;
  text-transform: uppercase;
  top: -8px;
}
/* line 116, ../sass/product.scss */
.product .details .availability .days-remaining {
  color: #f00;
}

/* line 124, ../sass/product.scss */
#active-products .for-sale-collection {
  text-align: center;
}
/* line 128, ../sass/product.scss */
#active-products .for-sale-header {
  margin: 0 auto;
  width: 463px;
}

/**
 * Product Detail Page
 */
/* line 137, ../sass/product.scss */
#zoom-image {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  text-align: center;
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 154, ../sass/product.scss */
#product #product-images #featured-image {
  text-align: center;
}
/* line 157, ../sass/product.scss */
#product #product-images #featured-image img {
  width: 100%;
  border: 10px solid #fff;
}
/* line 163, ../sass/product.scss */
#product #product-images #thumbs {
  clear: both;
}
/* line 166, ../sass/product.scss */
#product #product-images #thumbs .image {
  border: 10px solid #fff;
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin: 26px 26px 0 0;
}
/* line 174, ../sass/product.scss */
#product #product-images #thumbs .image:last-child {
  margin: 26px 0 0 0;
}
/* line 178, ../sass/product.scss */
#product #product-images #thumbs .image img {
  min-width: 200px;
  min-height: 200px;
}
/* line 185, ../sass/product.scss */
#product #product-images .social {
  clear: both;
}
/* line 191, ../sass/product.scss */
#product #details hr {
  border-top: 1px solid #262626;
}
/* line 195, ../sass/product.scss */
#product #details h1.title {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 5px;
  text-transform: uppercase;
}
/* line 202, ../sass/product.scss */
#product #details #artist {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 5px;
  text-transform: uppercase;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
/* line 211, ../sass/product.scss */
#product #details #availability {
  clear: both;
  display: inline-block;
  padding: 0 4px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #666666;
  letter-spacing: -0.3px;
  height: 18px;
  line-height: 19px;
}
/* line 226, ../sass/product.scss */
#product #details #availability .days-remaining {
  color: #f00;
  position: relative;
  top: -2px;
}
/* line 233, ../sass/product.scss */
#product #details .description {
  font-size: 0.85em;
  margin: 40px 0;
}
/* line 239, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper {
  width: 40%;
  float: left;
}
/* line 243, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper input {
  width: 50px;
  text-align: center;
}
/* line 249, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info {
  float: right;
  width: 60%;
  text-align: right;
}
/* line 254, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #price {
  display: inline-block;
  font-weight: 700;
  margin-right: 15px;
  line-height: 30px;
  font-size: 1.25em;
}
/* line 262, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #add-to-cart {
  display: inline-block;
  background-color: #f00;
  text-transform: uppercase;
}

/* line 276, ../sass/product.scss */
#about-the-artist {
  background-color: #eeeeef;
}

/**
 * Artist Listing Page
 */
/* line 5, ../sass/artist.scss */
.artist-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 11, ../sass/artist.scss */
.artist-list .artist {
  width: 286px;
  height: 286px;
  border: 10px solid #fff;
  float: left;
  margin: 15px;
  line-height: 266px;
  font-size: 2em;
  text-align: center;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 26, ../sass/artist.scss */
.artist-list .artist a {
  margin: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
}
/* line 34, ../sass/artist.scss */
.artist-list #join-posters {
  padding-top: 15px;
}

/**
 * Artist Profile
 */
/* line 44, ../sass/artist.scss */
.artist-profile .artist-header {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  overflow: hidden;
  background-color: #eeeeef;
}
/* line 50, ../sass/artist.scss */
.artist-profile .artist-header .artist-image {
  width: 50%;
  height: 400px;
  float: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 59, ../sass/artist.scss */
.artist-profile .artist-header .artist-title {
  width: 50%;
  float: left;
}
/* line 63, ../sass/artist.scss */
.artist-profile .artist-header .artist-title h1 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 15px;
  margin: 170px auto 0 auto;
  width: 65%;
  display: block;
  text-transform: uppercase;
}
/* line 76, ../sass/artist.scss */
.artist-profile .artist-description {
  margin: 50px 0;
  padding: 15px;
}
/* line 81, ../sass/artist.scss */
.artist-profile .artist-products {
  margin-top: 25px;
}
/* line 84, ../sass/artist.scss */
.artist-profile .artist-products:nth-child(4) {
  clear: right;
}
/* line 89, ../sass/artist.scss */
.artist-profile .artist-video {
  clear: both;
  background-color: #eeeeef;
}
/* line 93, ../sass/artist.scss */
.artist-profile .artist-video .artist-video-description {
  padding: 110px 0;
  text-align: right;
  width: 80%;
  float: right;
  font-size: 0.9em;
}
/* line 101, ../sass/artist.scss */
.artist-profile .artist-video .artist-video-content {
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
}
/* line 106, ../sass/artist.scss */
.artist-profile .artist-video .artist-video-content iframe {
  margin: 0 2px 0 15px;
  float: left;
  border: 10px solid #fff;
  outline: 2px solid #000;
  width: 400px;
  height: 240px;
}

/* line 1, ../sass/mission.scss */
.mission-page-heading {
  background-color: #eeeeef;
  padding: 75px 50px 50px 50px;
}
/* line 5, ../sass/mission.scss */
.mission-page-heading h2 {
  width: 300px;
  margin: 0 auto;
  padding: 15px 0;
  text-transform: uppercase;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
}

/* line 17, ../sass/mission.scss */
.mission-page-section {
  clear: both;
  overflow: hidden;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 17, ../sass/mission.scss */
  .mission-page-section {
    height: auto;
  }
}
/* line 27, ../sass/mission.scss */
.mission-page-section:last-child {
  margin-bottom: 50px;
}
/* line 31, ../sass/mission.scss */
.mission-page-section .image {
  float: left;
  width: 55%;
  text-align: right;
  background-color: #fff;
  height: inherit;
}
/* line 38, ../sass/mission.scss */
.mission-page-section .image img {
  max-height: 330px;
}
@media screen and (max-width: 768px) {
  /* line 31, ../sass/mission.scss */
  .mission-page-section .image {
    width: 100%;
    text-align: center;
    float: none;
  }
  /* line 47, ../sass/mission.scss */
  .mission-page-section .image img {
    max-height: none;
    width: 100%;
  }
}
/* line 54, ../sass/mission.scss */
.mission-page-section .info {
  float: left;
  width: 45%;
  background-color: #000;
  color: #fff;
  height: inherit;
}
@media screen and (max-width: 768px) {
  /* line 54, ../sass/mission.scss */
  .mission-page-section .info {
    width: 100%;
    float: none;
  }
}
/* line 66, ../sass/mission.scss */
.mission-page-section .info .info-content {
  max-width: 500px;
  margin: 35px 75px;
}
@media screen and (max-width: 768px) {
  /* line 66, ../sass/mission.scss */
  .mission-page-section .info .info-content {
    padding: 35px;
    margin: 0;
    max-width: 100%;
  }
}
/* line 76, ../sass/mission.scss */
.mission-page-section .info .info-content h2 {
  margin: 0 0 15px;
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 1em;
}
/* line 85, ../sass/mission.scss */
.mission-page-section .info .info-content h2 span {
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #000;
  display: inline-block;
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
  line-height: 45px;
}
/* line 99, ../sass/mission.scss */
.mission-page-section .info .info-content p {
  margin: 0;
  line-height: 30px;
}
/* line 107, ../sass/mission.scss */
.mission-page-section.section-right .image {
  float: right;
  text-align: left;
}
/* line 112, ../sass/mission.scss */
.mission-page-section.section-right .info {
  float: right;
}
/* line 115, ../sass/mission.scss */
.mission-page-section.section-right .info .info-content {
  float: right;
}

/* line 2, ../sass/help.scss */
.help-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 8, ../sass/help.scss */
.help-tabs ul li {
  float: left;
}
/* line 11, ../sass/help.scss */
.help-tabs ul li a {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  margin: 0 8px;
  padding: 5px 10px;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 20, ../sass/help.scss */
.help-tabs ul li a.current, .help-tabs ul li a:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 28, ../sass/help.scss */
.help-section {
  margin-bottom: 40px;
}
/* line 31, ../sass/help.scss */
.help-section img {
  margin: 25px;
  float: right;
}
/* line 36, ../sass/help.scss */
.help-section p {
  color: #666;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}
/* line 43, ../sass/help.scss */
.help-section .section-header {
  margin: 40px 0;
}

/* line 48, ../sass/help.scss */
.help-arrow {
  width: 50px;
  height: 120px;
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 54, ../sass/help.scss */
.help-arrow.arrow-right {
  float: right;
  background-position: -50px 0;
}
/* line 59, ../sass/help.scss */
.help-arrow.arrow-left {
  background-position: 0 0;
}
/* line 64, ../sass/help.scss */
.help-arrow:hover.arrow-right {
  background-position: -50px -120px;
}
/* line 68, ../sass/help.scss */
.help-arrow:hover.arrow-left {
  background-position: 0 -120px;
}

/* line 1, ../sass/socialgrid.scss */
body {
  margin: 0;
}

/* line 5, ../sass/socialgrid.scss */
.socialGrid_container {
  /* http://www.fontspring.com/fonts/fontsite/franklin-gothic-fs */
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 10px;
  height: 400px;
  width: 1000%;
  position: relative;
}
/* line 13, ../sass/socialgrid.scss */
.socialGrid_container .loading {
  width: 100vw;
  left: 50vw;
  max-width: 1170px;
  margin-left: -585px;
  position: absolute;
  height: inherit;
  line-height: 400px;
  text-align: center;
  font-size: 3em;
}
/* line 25, ../sass/socialgrid.scss */
.socialGrid_container .grid_container {
  background-position: center center;
  background-size: cover;
  background-width: 100px;
  cursor: pointer;
  float: left;
  height: 400px;
  position: relative;
  width: 400px;
}
/* line 35, ../sass/socialgrid.scss */
.socialGrid_container .grid_container h1 {
  color: white;
  font-size: 19px;
  line-height: 1.45em;
  opacity: 0;
  position: relative;
  top: -5px;
  z-index: 1;
  -webkit-transition: all .2s;
}
/* line 46, ../sass/socialgrid.scss */
.socialGrid_container .grid_container h1 {
  line-height: 1.25em;
  margin: 15px;
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 54, ../sass/socialgrid.scss */
.socialGrid_container .grid_container .avatar {
  float: left;
  margin-right: 8px;
  width: 37px;
}
/* line 60, ../sass/socialgrid.scss */
.socialGrid_container .grid_container .blackscreen {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity .3s;
}
/* line 71, ../sass/socialgrid.scss */
.socialGrid_container .grid_container .userInfo_container {
  bottom: 0px;
  color: white;
  font-size: 1.3em;
  left: 15px;
  line-height: 1.5em;
  opacity: 0;
  position: absolute;
  right: 15px;
  z-index: 1;
  -webkit-transition: opacity .8s;
}
/* line 85, ../sass/socialgrid.scss */
.socialGrid_container .grid_container:hover h1 {
  opacity: 1;
  top: 0;
}
/* line 90, ../sass/socialgrid.scss */
.socialGrid_container .grid_container:hover .blackscreen {
  opacity: 0.7;
}
/* line 94, ../sass/socialgrid.scss */
.socialGrid_container .grid_container:hover .userInfo_container {
  opacity: 1;
}
/* line 100, ../sass/socialgrid.scss */
.socialGrid_container .grid-1 {
  float: left;
}
/* line 104, ../sass/socialgrid.scss */
.socialGrid_container .grid-2 {
  float: left;
}
/* line 107, ../sass/socialgrid.scss */
.socialGrid_container .grid-2 section {
  clear: left;
  float: left;
  height: 200px;
  width: 200px;
}

/* line 116, ../sass/socialgrid.scss */
.socialGrid_wrapper {
  height: 400px;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}

/* line 4, ../sass/login.scss */
#login .section-header {
  margin: 40px 0;
}

/* line 10, ../sass/login.scss */
#login-signup .label {
  color: #888;
  display: block;
  font-size: 0.9em;
  letter-spacing: 0em;
  padding: 5px 0 0 0;
  text-align: left;
}
/* line 19, ../sass/login.scss */
#login-signup input {
  border: 1px solid #888;
  margin-bottom: 15px;
  padding: 0 5px;
  width: 100%;
}
/* line 25, ../sass/login.scss */
#login-signup input[type="submit"] {
  width: 150px;
}
/* line 30, ../sass/login.scss */
#login-signup .btn-primary {
  background-color: #000;
  text-transform: uppercase;
  float: right;
}

/* line 3, ../sass/press.scss */
#press-blog {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 40px;
}
/* line 9, ../sass/press.scss */
#press-blog ul {
  list-style: none;
  margin: 40px 0;
  padding: 0;
}
/* line 14, ../sass/press.scss */
#press-blog ul li {
  float: left;
  width: 250px;
  min-height: 250px;
  margin-bottom: 20px;
  margin-right: 28px;
}
/* line 21, ../sass/press.scss */
#press-blog ul li.satimage {
  width: 530px;
}
/* line 24, ../sass/press.scss */
#press-blog ul li.satimage img {
  border: 0;
}
/* line 29, ../sass/press.scss */
#press-blog ul li p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.85em;
  color: #666666;
}
/* line 38, ../sass/press.scss */
#press-blog ul li img {
  width: 100%;
  border: 10px solid #fff;
  margin-bottom: 5px;
}
