/* line 1, ../sass/artists.scss */
.page-heading {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}
/* line 6, ../sass/artists.scss */
.page-heading h1 {
  text-transform: uppercase;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.75);
  margin: 0 0 10px;
}
/* line 12, ../sass/artists.scss */
.page-heading h2 {
  color: #535353;
  text-transform: uppercase;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
  margin: 0 0 10px;
}

/* line 24, ../sass/artists.scss */
.artist-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/artists.scss */
.artist-list .artist {
  width: 250px;
  height: 250px;
  border: 10px solid #fff;
  float: left;
  margin: 15px;
  line-height: 230px;
  font-size: 2em;
  text-align: center;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 45, ../sass/artists.scss */
.artist-list .artist a {
  margin: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
}

/* line 55, ../sass/artists.scss */
.artist-profile .artist-header {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  overflow: hidden;
  background-color: #c2c2c3;
}
/* line 61, ../sass/artists.scss */
.artist-profile .artist-header .artist-image {
  width: 50%;
  height: 400px;
  float: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 70, ../sass/artists.scss */
.artist-profile .artist-header .artist-title {
  width: 50%;
  float: left;
}
/* line 74, ../sass/artists.scss */
.artist-profile .artist-header .artist-title h1 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 15px;
  margin: 170px auto 0 auto;
  width: 65%;
  display: block;
  text-transform: uppercase;
}
/* line 87, ../sass/artists.scss */
.artist-profile .artist-description {
  width: 50%;
  margin: 50px 0;
  float: left;
  padding: 15px;
}
/* line 94, ../sass/artists.scss */
.artist-profile .artist-products {
  margin-top: 25px;
}
/* line 97, ../sass/artists.scss */
.artist-profile .artist-products:nth-child(4) {
  clear: right;
}
/* line 102, ../sass/artists.scss */
.artist-profile .artist-video {
  clear: both;
  background-color: #c2c2c3;
}
/* line 106, ../sass/artists.scss */
.artist-profile .artist-video .artist-video-content {
  width: 60%;
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
}
/* line 112, ../sass/artists.scss */
.artist-profile .artist-video .artist-video-content iframe {
  margin: 0 2px 0 15px;
  float: right;
  border: 10px solid #fff;
  outline: 2px solid #000;
  width: 320px;
  height: 180px;
}

/* line 124, ../sass/artists.scss */
.product {
  display: block;
  float: left;
  width: 240px;
  margin: 20px;
}
/* line 130, ../sass/artists.scss */
.product .image {
  line-height: 240px;
  text-align: center;
}
/* line 134, ../sass/artists.scss */
.product .image img {
  max-width: 240px;
  max-height: 240px;
  border: 10px solid #fff;
}
/* line 141, ../sass/artists.scss */
.product .details {
  text-align: center;
}
/* line 144, ../sass/artists.scss */
.product .details .price {
  display: none;
}
