/* line 2, ../sass/help.scss */
.help-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 8, ../sass/help.scss */
.help-tabs ul li {
  float: left;
}
/* line 11, ../sass/help.scss */
.help-tabs ul li a {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  margin: 0 8px;
  padding: 5px 10px;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 20, ../sass/help.scss */
.help-tabs ul li a.current, .help-tabs ul li a:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 28, ../sass/help.scss */
.help-section {
  margin-bottom: 40px;
}
/* line 31, ../sass/help.scss */
.help-section img {
  margin: 25px;
  float: right;
}
/* line 36, ../sass/help.scss */
.help-section p {
  color: #666;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}
/* line 43, ../sass/help.scss */
.help-section .section-header {
  margin: 40px 0;
}

/* line 48, ../sass/help.scss */
.help-arrow {
  width: 50px;
  height: 120px;
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 54, ../sass/help.scss */
.help-arrow.arrow-right {
  float: right;
  background-position: -50px 0;
}
/* line 59, ../sass/help.scss */
.help-arrow.arrow-left {
  background-position: 0 0;
}
/* line 64, ../sass/help.scss */
.help-arrow:hover.arrow-right {
  background-position: -50px -120px;
}
/* line 68, ../sass/help.scss */
.help-arrow:hover.arrow-left {
  background-position: 0 -120px;
}
