/* line 4, ../sass/login.scss */
#login-signup .label {
  display: block;
  color: #888;
  text-align: left;
  padding: 5px 0;
  font-size: 1em;
}
/* line 12, ../sass/login.scss */
#login-signup input {
  border: 1px solid #888;
  width: 100%;
  margin-bottom: 15px;
}
/* line 17, ../sass/login.scss */
#login-signup input[type="submit"] {
  width: 150px;
}
/* line 22, ../sass/login.scss */
#login-signup .btn-primary {
  background-color: #000;
  text-transform: uppercase;
  float: right;
}
