/* line 4, ../sass/login.scss */
#login .section-header {
  margin: 40px 0;
}

/* line 10, ../sass/login.scss */
#login-signup .label {
  color: #888;
  display: block;
  font-size: 0.9em;
  letter-spacing: 0em;
  padding: 5px 0 0 0;
  text-align: left;
}
/* line 19, ../sass/login.scss */
#login-signup input {
  border: 1px solid #888;
  margin-bottom: 15px;
  padding: 0 5px;
  width: 100%;
}
/* line 25, ../sass/login.scss */
#login-signup input[type="submit"] {
  width: 150px;
}
/* line 30, ../sass/login.scss */
#login-signup .btn-primary {
  background-color: #000;
  text-transform: uppercase;
  float: right;
}
