/* line 1, ../sass/mission.scss */
.mission-page-heading {
  background-color: #eeeeef;
  padding: 75px 50px 50px 50px;
}
/* line 5, ../sass/mission.scss */
.mission-page-heading h2 {
  width: 300px;
  margin: 0 auto;
  padding: 15px 0;
  text-transform: uppercase;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
}

/* line 17, ../sass/mission.scss */
.mission-page-section {
  clear: both;
  overflow: hidden;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 17, ../sass/mission.scss */
  .mission-page-section {
    height: auto;
  }
}
/* line 27, ../sass/mission.scss */
.mission-page-section:last-child {
  margin-bottom: 50px;
}
/* line 31, ../sass/mission.scss */
.mission-page-section .image {
  float: left;
  width: 55%;
  text-align: right;
  background-color: #fff;
  height: inherit;
}
/* line 38, ../sass/mission.scss */
.mission-page-section .image img {
  max-height: 330px;
}
@media screen and (max-width: 768px) {
  /* line 31, ../sass/mission.scss */
  .mission-page-section .image {
    width: 100%;
    text-align: center;
    float: none;
  }
  /* line 47, ../sass/mission.scss */
  .mission-page-section .image img {
    max-height: none;
    width: 100%;
  }
}
/* line 54, ../sass/mission.scss */
.mission-page-section .info {
  float: left;
  width: 45%;
  background-color: #000;
  color: #fff;
  height: inherit;
}
@media screen and (max-width: 768px) {
  /* line 54, ../sass/mission.scss */
  .mission-page-section .info {
    width: 100%;
    float: none;
  }
}
/* line 66, ../sass/mission.scss */
.mission-page-section .info .info-content {
  max-width: 500px;
  margin: 35px 75px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 66, ../sass/mission.scss */
  .mission-page-section .info .info-content {
    padding: 35px;
    margin: 0;
    max-width: 100%;
  }
}
/* line 77, ../sass/mission.scss */
.mission-page-section .info .info-content h2 {
  margin: 0 0 15px;
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 1em;
}
/* line 86, ../sass/mission.scss */
.mission-page-section .info .info-content h2 span {
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #000;
  display: inline-block;
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
  line-height: 45px;
}
/* line 100, ../sass/mission.scss */
.mission-page-section .info .info-content p {
  margin: 0;
  line-height: 30px;
}
/* line 108, ../sass/mission.scss */
.mission-page-section.section-right .image {
  float: right;
  text-align: left;
}
/* line 113, ../sass/mission.scss */
.mission-page-section.section-right .info {
  float: right;
}
/* line 116, ../sass/mission.scss */
.mission-page-section.section-right .info .info-content {
  float: right;
}
