/* line 3, ../sass/press.scss */
#press-blog {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 40px;
}
/* line 9, ../sass/press.scss */
#press-blog ul {
  list-style: none;
  margin: 40px 0;
  padding: 0;
}
/* line 14, ../sass/press.scss */
#press-blog ul li {
  float: left;
  width: 250px;
  min-height: 250px;
  margin-bottom: 20px;
  margin-right: 28px;
}
/* line 21, ../sass/press.scss */
#press-blog ul li.satimage {
  width: 530px;
}
/* line 24, ../sass/press.scss */
#press-blog ul li.satimage img {
  border: 0;
}
/* line 29, ../sass/press.scss */
#press-blog ul li p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.85em;
  color: #666666;
}
/* line 38, ../sass/press.scss */
#press-blog ul li img {
  width: 100%;
  border: 10px solid #fff;
  margin-bottom: 5px;
}
