/* line 3, ../sass/typography.scss */
.section-header {
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0 40px 40px 40px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  color: #262626;
  text-align: center;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.85em;
}
/* line 15, ../sass/typography.scss */
.section-header small {
  display: block;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.3em;
  text-transform: none;
  margin-top: 10px;
}

/* line 25, ../sass/typography.scss */
.btn {
  border-radius: 0;
  border: 0;
}

/* line 30, ../sass/typography.scss */
#social {
  float: right;
  line-height: 30px;
  padding-top: 15px;
}
/* line 35, ../sass/typography.scss */
#social > h2 {
  float: left;
  font-size: 1em;
  margin: 3px 10px 0 0;
  color: #999999;
}
/* line 42, ../sass/typography.scss */
#social > a {
  border: 1px solid #878787;
  display: block;
  float: left;
  height: 21px;
  margin: 0 5px;
  width: 20px;
}
/* line 50, ../sass/typography.scss */
#social > a img {
  width: 100%;
  display: block;
  margin: 0;
}

/* line 58, ../sass/typography.scss */
h1, h2, h3, h4 {
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
