<div id="login-signup">
  <div class="container">
    <div class="row">
      <div id="login" class="col-sm-6">
        <h2 class="section-header">Sign In</h2>
        {% form 'customer_login' %}
              {{ form.errors | default_errors }}

              <div>
                <label for="customer_email" class="label">Email Address</label>
                <input type="email" value="" name="customer[email]" id="customer_email" class="text" />
              </div>

              {% if form.password_needed %}
              <div>
                <label for="customer_password" class="label">Password</label>
                <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />
                <input class="btn btn-primary" type="submit" value="Sign In" />
                <a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
              </div>
              {% else %}
              <div class="action_bottom">
                <input class="btn btn-primary" type="submit" value="Sign In" />
              </div>
              {% endif %}

              
          {% endform %}

          {% if shop.checkout.guest_login %}
          <div id="guest">
            <h2 class="section-header">Guest Login</h2>
            {% form 'guest_login' %}
              <input class="btn" type="submit" value="Continue as Guest" />
            {% endform %}
          </div>
          {% endif %}
      </div>
      <div id="recover-password" style="display:none;" class="col-sm-6">
          <h2 class="section-header">Reset Password</h2>
          <p class="note">We will send you an email to reset your password.</p>

          {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}

          <label for="email" class="label">Email Address</label>
          <input type="email" value="" size="30" name="email" id="recover-email" class="text" />

          <input class="btn" type="submit" value="Submit" />
          <span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
          {% endform %}
      </div>
      <div class="col-sm-6">
        <h2 class="section-header">Create Account</h2>
        {% form 'create_customer' %}
              {{ form.errors | default_errors }}

              <div class="row">
              <div id="first_name" class="clearfix large_form col-sm-6">
                <label for="first_name" class="label">First Name</label>
                <input type="text" value="" name="customer[first_name]" id="first_name" class="text" size="30" />
              </div>

              <div id="last_name" class="clearfix large_form col-sm-6">
                <label for="last_name" class="label">Last Name</label>
                <input type="text" value="" name="customer[last_name]" id="last_name" class="text" size="30" />
              </div>
              </div>

              <div id="email" class="clearfix large_form">
                <label for="email" class="label">Email Address</label>
                <input type="email" value="" name="customer[email]" id="email" class="text" size="30" />
              </div>

              <div id="password" class="clearfix large_form">
                <label for="password" class="label">Password</label>
                <input type="password" value="" name="customer[password]" id="password" class="password text" size="30" />
              </div>

              <div class="action_bottom">
                <input class="btn btn-primary" type="submit" value="Register" />
              </div>
         {% endform %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
