/**
 * Artist Listing Page
 */

.artist-list {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		&:nth-child(4n+1) {
			float: left;
			margin-left: 0;
			
			&#join-posters {
				a {
					left: 0;
					top: 0;
				}
			}
		}
		
		&:nth-child(4n+4) {
			margin-right: 0;
		}
		
	}

	.artist {
		background-position: center center;
		background-size: cover;
		border: 9px solid #fff;
		float: left;
		font-size: 2em;
		height: 273px;
		line-height: 266px;
		margin: 8px;
		overflow: hidden;
		text-align: center;
		width: 273px;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);

		a {
			background-color: rgba(#fff, 0.75);
			color: #000;
			display: block;
			font-size: 0.8em;
			margin: 0;
			text-transform: uppercase;
		}
	}

	#join-posters {
		padding-top: 15px;
		
		a {
			float: left;
			left: 15px;
			overflow: hidden;
			position: relative;
			top: 15px;
		}
	}
}

/**
 * Artist Profile
 */

.artist-profile {
	.artist-header {
		background-color: #eeeeef;
		border-bottom: 10px solid #fff;
		border-top: 10px solid #fff;
		height: 400px;
		overflow: hidden;

		.artist-image {
			background-size: cover;
			min-height: 100%;
			min-width: 100%;
		}
		
		.artist-image-wrapper {
			float: left;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 50%;
		}

		.artist-title {
			float: left;
			height: 100%;
			text-align: center;
			position: relative;
			width: 50%;

			h1 {
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;
				display: inline-block;
				margin: 0 auto;
				margin-top: -47px;
				padding: 15px 30px;
				position: relative;
				text-align: center;
				text-transform: uppercase;
				top: 50%;
			}
		}
	}

	.artist-description {
		font-size: .8em;
		line-height: 1.4em;
		margin: 50px 0;
		padding: 15px 0;
	}

	.artist-products {
		margin-top: 25px;

		&:nth-child(4) {
			clear: right;
		}
	}

	.artist-video {
		clear: both;
		background-color: #eeeeef;

		.artist-video-description {
			padding: 110px 0;
			text-align: right;
			width: 80%;
			float: right;
			font-size: 0.9em;
		}

		.artist-video-content {
			margin: 0 auto;
			padding: 90px 0;
			overflow: hidden;

			iframe {
				margin: 0 2px 0 15px;
				float: left;
				border: 10px solid #fff;
				outline: 2px solid #000;
				width: 400px;
				height: 240px;
			}
		}
	}
}
