@import "vars";

html, body {
	margin: 0;
	padding: 0;
	background-color: $bgColor;
	color: $foreColor;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 28px;
	font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 300;
}

a {
	color: $foreColor;

	&:hover {
		color: $black;
		text-decoration: none;
	}
}

header#main-header {
	background-color: $white;
	box-shadow: 0 0 25px rgba(0,0,0,0.15);
	overflow: hidden;

	&:after {
		content: ' ';
		display: block;
		background: url(//cdn.shopify.com/s/files/1/0639/4977/t/1/assets/paper-edge.png) repeat-x;
		height: 8px;
		position: relative;
		top: 0;
		width: 100%;
	}

	nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				float: left;

				a {
					bottom: -10px;
					display: block;
					font-weight: 700;
					font-size: 0.8em;
					font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
					letter-spacing: 0;
					line-height: 1.3em;
					margin: 0 15px 15px 15px;
					padding: 85px 0 0 0;
					position: relative;
					text-transform: uppercase;

					&:hover, &.active {
						border-bottom: 3px solid #000;
						margin: 0 15px 10px 15px;
					}
				}

				&#logo {
					margin-right: 15px;
					
					a {
						border: 0;
						bottom: initial;
						height: 105px;
						margin: 11px 0 0 0;
						padding: 0;
						text-indent: -9999px;
						width: 81px;
					}
				}
				
				&:nth-child(4) {
					a {
						border-color: #999;
						color: #999;
					}
				}
				
				&:nth-child(5) {
					a {
						border-color: #999;
						color: #999;		
					}
				}
			}
		}
	}

	#cart-info {
		padding-top: 85px;
		text-align: right;

		.login {
			border-bottom: 1px transparent;
			color: #999;
			font-size: 14px;
			font-style: italic;
			letter-spacing: 0.05em;
			margin-right: 28px;
			position: relative;
			top: -3px;
			
			&:hover {
				border-bottom: 1px solid #999;
			}
		}

		.toggle-cart {
			color: #666;
			display: inline-block;
			font-size: 16px;
			height: 35px;
			line-height: 45px;
			position: relative;
			text-align: center;
			top: -3px;
			width: 29px;
		}
	}
}

/* http://www.dennisplucinik.com/blog/2007/09/01/css-hack-text-indent-10000px/ */
.ir {
	background-repeat: no-repeat;
	direction: ltr;
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}

.shadow-header {
	text-shadow: 1px 1px 0px #e6e3e4, 2px 2px 0px #777, 1px 2px 0px #777,2px 1px 0px #777;
	
	small {
		text-shadow: none;
	}
}

.shadow-header-grey {
	border-color: #666;
	color: #666;
	text-shadow: 1px 1px 0px #e6e3e4, 2px 2px 0px #666, 1px 2px 0px #666,2px 1px 0px #666;
	
	small {
		margin: 0 30px;
		margin-top: 3px;
		text-shadow: none;
	}
}

.shadow-header-inverted {
	text-shadow: 2px 2px 0px #333, 3px 3px 0px #9f9f9f;
}

.sprite {
	background: no-repeat;
	
	&.arrow-white-right {
		background-image: url(arrow-white.png);
		height: 22px;
		width: 15px;
	}
}

.text-center {
	text-align: center;
}

#main-content {
	padding: 60px 0 0 0;
}

footer#main-footer {
	padding-top: 60px;
	background-color: $white;
	margin-top: 0;
	overflow: hidden;

	.mailchimp-subscribe {
		background-color: $bgColor;
		height: 45px;
		position: relative;
		
		input {
			background-color: #EEE;
			border: 0;
			color: #999;
			display: block;
			font-size: 0.7em;
			font-style: italic;
			height: 45px;
			padding: 10px;
			position: absolute;
			width: 100%;
			-webkit-transition: all .2s;
			
			&::-webkit-input-placeholder {
				font-style: italic;
			}
			
			&:-moz-placeholder {
				font-style: italic;
			}
			
			&::-moz-placeholder {
				font-style: italic;
			}
			
			&:-ms-input-placeholder {
				font-style: italic;
			}
			
			
			&:focus {
				color: #000;
				
				&::-webkit-input-placeholder {
					color: #000;
				}
				
				&:-moz-placeholder {
					color: #000;
				}
				
				&::-moz-placeholder {
					color: #000;
				}
				
				&:-ms-input-placeholder {
					color: #000;
				}
			}
		}

		button {
			width: 45px;
			height: 45px;
			float: right;
			border: 0;
			position: relative;
			z-index: 1;
			
			&.arrow-white-right {
				background-color: #999;
				background-position: 15px 11px;
			}
		}
	}

	.social-follow-us {
		position: relative;
		float: right;
		top: -4px;

		@media screen and (max-width: 1200px) {
			top: -30px;
		}

		h2 {
			color: #999;
			display: block;
			float: left;
			font-size: .7em;
			font-weight: normal;
			height: 50px;
			letter-spacing: normal;
			line-height: 50px;
			margin: 0 5px 0 0;
			text-transform: uppercase;

			@media screen and (max-width: 1200px) {
				clear: both;
				height: 30px;
				line-height: 30px;
			}
		}

		a.social-icon {
			background-color: #eaeaea;
			display: block;
			float: left;
			margin: 0 1px 1px;
			text-align: center;
			position: relative;
			width: 45px;
			height: 45px;


			@media screen and (max-width: 1200px) {
				&:nth-child(2n) {
					clear: both;
				}
			}

			img {
				position: absolute;

				&.hover-on {
					display: none;
				}

				&.hover-off {
					display: block;
				}
			}

			&:hover {
				img {
					&.hover-on {
						display: block;
					}

					&.hover-off {
						display: none;
					}
				}
			}
		}
	}

	nav {
		margin-bottom: 60px;
		margin-top: 60px;
		overflow: hidden;

		@media screen and (max-width: 1200px) {
			margin-bottom: 60px;
			margin-top: 30px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline;
				float: left;
				padding: 0 10px;
				white-space: nowrap;

				@media screen and (max-width: 1200px) {
					width: 33%;

					&:nth-child(3n + 1) {
						clear: left;
						text-align: right;
					}

					&:nth-child(3n + 2) {
						text-align: center;
					}
				}
				
				a {
					color: #999;
					display: block;
					font-size: 0.72em;
					padding: 0 20px;
					text-transform: uppercase;
					
					&:hover {
						color: #000
					}
				}
				
				&:nth-child(1) {
					padding-left: 0;
					
					a {
						padding-left: 0;
					}
				}
				
				&:last-child {
					padding-right: 0;
					
					a {
						padding-right: 0;
					}
				}
			}
		}
	}
}

#main-wrapper {
	left: 0;
	position: relative;
	width: 100%;
}

#cart-flyout {
	background-color: #eaeaeb;
	box-shadow: 5px 0 10px rgba(#000, 0.1) inset;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	right: -20%;
	top: 0;
	width: 20%;

	.cart-top-btn {
		background-color: #505050;
		box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
		color: #fff;
		display: block;
		float: left;
		height: 131px;
		line-height: 131px;
		position: relative;
		text-align: center;
		width: 50%;
		text-transform: uppercase;
		font-size: 1vw;

		&:before {
			content: '';
			display: block;
			background: url('arrow-white-small.png');
			float: left;
			height: 11px;
			left: 20px;
			position: relative;
			top: 59px;
			width: 7px;
		}

		&#checkout {
			background-color: #fb0005;
			
			&:after {
				content: '';
				display: block;
				background: url('arrow-white-small.png');
				float: right;
				height: 11px;
				right: 43px;
				position: relative;
				top: 59px;
				width: 7px;
				-webkit-transform: rotate(180deg);
			}
			
			&:before {
				display: none;
			}
		}
	}

	.empty-cart {
		text-align: center;
	}

	.subtotal {
		background-color: #eaeaeb;
		box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
		clear: both;
		padding: 20px;
		width: 100%;

		h2 {
			font-size: 1.2em;

			.subtotal-price {
				float: right;
			}

			small {
				clear: both;
				display: block;
				font-size: 0.6em;
			}
		}
	}

	.number-of-items {
		clear: both;
		background-color: #d6d6d6;
		box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
		padding: 3px 0;
		text-align: center;
	}

	.cart-items {
		.cart-item {
			background-color: #fff;
			border-bottom: 1px solid #eaeaeb;
			box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
			overflow: hidden;
			font-size: 0.9em;
			color: #6c6c6c;

			.image {
				width: 30%;
				float: left;
				padding: 20px 10px 20px 20px; 

				img {
					width: 100%;
				}
			}

			.info {
				float: right;
				width: 70%;
				padding: 20px 20px 20px 10px;

				.remove-item {
					float: right;
					width: 16px;
					height: 16px;
				}

				h3 {
					font-size: 1em;
					margin: 0 0 5px;
				}

				.qty {
					margin: 0 0 5px;

					input {
						width: 30px; 
						text-align: center;
					}

					.update-cart {
						font-size: 0.75em;
					}
				}
			}
		}
	}
}
