.help-tabs {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;

		li {
			float: left;

			a {
				font-size: .8em;
				text-align: center;
				margin: 0 8px;
				padding: 5px 10px;
				text-transform: uppercase;
				white-space: nowrap;

				&.current, &:hover {
					background-color: rgba(#fff, 0.75);
				}
			}
		}
	}
}

.help-section {
	margin-bottom: 40px;
	
	img {
		margin: 25px;
		float: right;
	}
	
	p {
		color: #666;
		font-size: 0.8em;
		letter-spacing: 0.03em;
		line-height: 1.4em;
	}
	
	.section-header {
		margin: 40px 0;
	}
}
