.help-tabs {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;

		li {
			float: left;
			width: 16.6%;

			a {
				display: block;
				text-align: center;
				padding: 5px 0;

				&.current {
					background-color: rgba(#fff, 0.75);
				}
			}

			
		}
	}
}

.help-section {
	margin-bottom: 40px;
	
	img {
		margin: 25px;
		float: right;
	}
}