@import "vars";

/**
 * Homepage Featured Product
 */
.previewImage_container {
  border: 20px solid $white;
  margin: 0 auto $gap*2 auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-transform: translateZ(0);
  
  &:hover {
    cursor: pointer;
    
    hr.bottom {
      bottom: 35%;
    }
    
    hr.top {
      top: 31%;
    }
    
    .button {
      &.action {
        bottom: 40%;
        opacity: 1;
        
        &:hover {
          background: #d9000d;
        }
      }
    }
    
    .copy {
      opacity: 1;
      
      &.availability {
        top: 45.5%;
      }
      
      &.date {
        left: 10%;
      }
      
      &.title {
        left: 10%;
      }
    }
    
    .blackscreen {
      opacity: 1;
    }
  }
  
  hr {
    background: white;
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    width: 80%;
    z-index: 1;
    
    &.bottom {
      bottom: -10%;
    }
    
    &.top {
      top: -10%;
    }
    
    -webkit-transition: all .5s;
  }
  
  img {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .action.button {
    background: #fc0d1b;
    bottom: 30%;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    padding: 10px 10px;
    position: absolute;
    width: 200px;
    z-index: 2;
    
    -webkit-transition: all .2s;
  }
  
  .copy {
    color: white;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    z-index: 2;
    
    &.availability {
      color: #CCC;
      font-size: .7em;
      left: 10%;
      top: 50%;
    }
    
    &.date {
      color: #CCC;
      left: -100%;
      top: 35%;
    }
    
    &.title {
      font-size: 2em;
      left: 100%;
      top: 40%;
    }
    
    -webkit-transition: all .5s;
  }
  
  .blackscreen {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    opacity: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    -webkit-transition: all .2s;
  }
}

/**
 * We Are The Posters Section
 */
#we-are-the-posters-video {
	background-position: center top;
    background-repeat: no-repeat;
	margin-bottom: 30px;
    padding-bottom: 50px;

	.video-container {
        background: white;
		border: 1px solid #000;
		margin: 0 auto;
        padding: 10px;
		width: 580px;

		iframe {
			margin: 0;
			border: 0;
			display: block;
		}
	}
}


/**
 * Mission Section with Countdown
 */
#mission-section {
	text-align: center;
	padding: 75px 0;
	margin-bottom: $gap*2;

	h2 {
		color: $lightGray;
        font-size: 1.8em;
        margin: 0;
        text-transform: uppercase;
        
        &.mission-footer {
            font-size: 1.47em;
            margin-top: 5px;
        }
	}

	h3 {
		color: $white;
        font-size: 2.75em;
        margin: -3px 0 -2px;
        text-transform: uppercase;
	}

	hr {
        border-color: #888;
        min-width: 440px;
		width: 33%;
        
        &.bottom {
            margin-top: 30px;
        }
	}
    
    p {
        margin-bottom: 35px;
        margin-top: 30px;
    }

	.btn-default {
		background-color: #535353;
		color: $white;
		text-transform: uppercase;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        
        &:hover {
            color: #333;
            background: #fff;
        }
	}
}

/**
 * Press Section
 */

#press-section {
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center top;
  margin-bottom: $gap;

	ul {
		list-style: none;
		margin: 115px 0 0 0;
		padding: 0;

    @media screen and (max-width: 1200px) {
      margin: 375px 0 0 0;
    }

		li {
			float: left;
			width: 200px;
			min-height: 200px;
			margin-bottom: $gap/2;
      margin-right: 28px;

			&:nth-child(2) {
				margin-left: 730px - 47px;
        margin-right: 0;
			}

      @media screen and (max-width: 1200px) {
          &:nth-child(2) {
            margin-left: 0;
            margin-right: 28px;
          }
      }

			p {
				display: block;
				margin: 0;
				padding: 0;
				text-align: center;
				font-size: 0.85em;
				color: $darkGray;
        line-height: 20px;
			}

			img {
				width: 100%;
				border: 10px solid $white;
				margin-bottom: 5px;
			}
		}
	}
}
