@import "vars";

#login {
	.section-header {
		margin: 40px 0;
	}
}

#login-signup {
	.label {
		color: #888;
		display: block;
		font-size: 0.9em;
		letter-spacing: 0em;
		padding: 5px 0 0 0;
		text-align: left;
	}

	input {
		border: 1px solid #888;
		margin-bottom: 15px;
		padding: 0 5px;
		width: 100%;

		&[type="submit"] {
			width: 150px;
		}
	}

	.btn-primary {
		background-color: #000;
		text-transform: uppercase;
		float: right;
	}

}
