.mission-page-heading {
	background-color: #eeeeef;
	padding: 75px 50px 50px 50px;

	h2 {
		width: 300px;
		margin: 0 auto;
		padding: 15px 0;
		text-transform: uppercase;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		text-align: center;
		text-shadow: 0 3px 1px rgba(#000, 0.25);
	}
}

.mission-page-section {
	clear: both;
	overflow: hidden;
	background-color: #fff;


	@media screen and (max-width: 768px) {
		height: auto;
	}

	&:last-child {
		margin-bottom: 50px;
	}

	.image {
		float: left;
		width: 55%;
		text-align: right;
		background-color: #fff;
		height: inherit;

		img {
			max-height: 330px;
		}
		
		@media screen and (max-width: 768px) {
			width: 100%;
			text-align: center;
			float: none;

			img {
				max-height: none;
				width: 100%;
			}
		}
	}

	.info {
		float: left;
		width: 45%;
		background-color: #000;
		color: #fff;
		height: inherit;

		@media screen and (max-width: 768px) {
			width: 100%;
			float: none;
		}

		.info-content {
			max-width: 500px;
			margin: 35px 75px;
			width: 100%;

			@media screen and (max-width: 768px) {
				padding: 35px;
				margin: 0;
				max-width: 100%;
			}

			h2 {
				margin: 0 0 15px;
				padding: 15px 0;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				line-height: 45px;
				text-transform: uppercase;
				font-size: 1em;

				span {
					width: 45px;
					height: 45px;
					background-color: #fff;
					color: #000;
					display: inline-block;
					float: left;
					text-align: center;
					margin-right: 10px;
					margin-bottom: 15px;
					line-height: 45px;
				}
			}

			p {
				margin: 0;
				line-height: 30px;
			}
		}
	}

	&.section-right {
		.image {
			float: right;
			text-align: left;
		}

		.info {
			float: right;

			.info-content {
				float: right;
			}
		}
	}
}
