@import "vars";

/**
 * Collection page
 */

.archive-border {
	width: 100%;
	height: 73px;
}

#archived-products {
	background-color: #eeeeef;
	padding-bottom: 70px;

	h1.section-header {
		margin-bottom: 48px;
		
		a {
			color: inherit;
			-webkit-transition: color .2s;
			transition: color .2s;
			
			&:hover {
				color: black;
			}
		}
	}

	.archive-section-header {
		text-align: center;
		color: $white;
		font-size: 3em;
		width: 255px;
		height: 372px;
		padding-top: 100px;
		line-height: 75px;
		text-transform: uppercase;
		font-weight: 700;

		img {
			vertical-align: inherit;
		}
	}
	
	> .container {
		padding-top: 40px;
	}
	
	.product {
		position: relative;
		top: -11px;
	}
	
	.row {
		&.products {
			margin-bottom: 28px;
		}
	}
}

/**
 * Product Thumb View
 */

.product {
	display: inline-block;
	float: none;
	letter-spacing: 0.01em;
	width: 287px;
	margin: 20px;

	.image {
		height: 287px;
		line-height: 287px;
		text-align: center;
		margin-bottom: 24px;
		width: 287px;

		a {
			display: block;
		}

		img {
			max-width: 287px;
			max-height: 287px;
			border: 10px solid #fff;
		}
	}

	.details {
		text-align: center;

		a {
			color: #666;
			font-size: 1.45em;
			text-transform: uppercase;
			display: block;
		}
		
		.availability {
			background-color: $white;
			clear: both;
			color: #666;
			display: inline-block;
			font-size: 0.7em;
			font-weight: normal;
			letter-spacing: -0.01em;
			line-height: 1.3em;
			margin-top: 10px;
			padding: 1px 4px 0 4px;
			position: relative;
			text-transform: uppercase;
			top: -8px;

			.days-remaining {
				color: #f00;
			}
		}
	}
}

#active-products {
	.for-sale-collection {
		text-align: center;

		.product:nth-child(2n) {
			
		}
	}
	
	.for-sale-header {
		margin: 0 auto;
		width: 463px;
	}
}

/**
 * Product Detail Page
 */
#zoom-image {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: none;
	text-align: center;
	background-size: 120%;
	background-position: center center;
	background-repeat: no-repeat;
}

#product {
	#product-images {
		#featured-image {
			text-align: center;
			
			img {
				width: 100%;
				border: 10px solid $white;
			}
		}

		#thumbs {
			clear: both;

			.image {
				border: 10px solid $white;
				width: 200px;
				height: 200px;
				overflow: hidden;
				float: left;
				margin: 26px 26px 0 0;

				&:last-child {
					margin: 26px 0 0 0;
				}

				img {
					min-width: 200px;
					min-height: 200px;
				}
			}
		}

		.social {
			clear: both;
		}
	}

	#details {
		hr { 
			border-top: 1px solid $foreColor;
		}

		h1.title {
			color: #999;
			font-size: 1.2em;
			font-weight: 300;
			margin: 0 0 5px;
			text-transform: uppercase;
		}

		#artist {
			font-size: 2em;
			font-weight: 700;
			margin: 0 0 5px;
			text-transform: uppercase;
			font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
			font-weight: 700;
		}

		#availability {
			background-color: $white;
			clear: both;
			color: $darkGray;
			display: inline-block;
			font-size: 0.75em;
			font-weight: 700;
			font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
			font-weight: 700;
			height: 18px;
			line-height: 19px;
			letter-spacing: -0.3px;
			padding: 0 4px;
			text-transform: uppercase;

			.days-remaining {
				color: #f00;
				position: relative;
				top: 0;
			}
		}

		.description {
			font-size: 0.85em;
			line-height: 1.1em;
			margin: $gap 0;
		}

		#add-item-form {
			.quantity-wrapper {
				width: 40%;
				float: left;

				input {
					text-align: center;
					width: 50px;
				}
				
				label {
					color: #999;
					font-size: .8em;
					left: 4px;
					position: relative;
					top: -2px;
				}
			}

			.add-to-cart-info {
				float: right;
				text-align: right;
				width: 60%;

				#price {
					display: inline-block;
					font-size: 1.25em;
					font-weight: 700;
					letter-spacing: normal;
					line-height: 30px;
					margin-right: 15px;
				}

				#add-to-cart {
					display: inline-block;
					background-color: #f00;
					text-transform: uppercase;
				}
			}			
		}
	}
}

#about-the-artist {
	background-color: #eeeeef;
}
