@import "vars";

.section-header {
	text-transform: uppercase;
	padding: $gap/2 0;
	margin: 0 40px 40px 40px;
	border-top: 1px solid $foreColor;
	border-bottom: 1px solid $foreColor;
	color: $foreColor;
	text-align: center;
	font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2.85em;

	small {
		display: block;
		font-size: 16px;
		letter-spacing: 0.02em;
		line-height: 1.3em;
		text-transform: none;
		margin-top: 10px;
	}
}

.btn {
	border-radius: 0;
	border: 1px solid #fff;
	outline: 1px solid #f00;

	&.btn-default {
		border: 1px solid #fff;
		outline: 1px solid #414141;
	}
}

#social {
	float: right;
	line-height: 30px;
	padding-top: 15px;

	> h2 {
		float: left;
		font-size: 1em;
		margin: 3px 10px 0 0;
		color: $lightGray;
	}

	> a {
		border: 1px solid #878787;
		display: block;
		float: left;
		height: 21px;
		margin: 0 5px;
		width: 20px;
		position: relative;

		img {
			width: 100%;
			display: block;
			position: absolute;
			margin: 0;

			&.hover-on {
				display: none;
			}

			&.hover-off {
				display: block;
			}
		}

		&:hover {
			img {
				&.hover-on {
					display: block;
				}

				&.hover-off {
					display: none;
				}
			}
		}
	}
}

h1, h2, h3, h4 {
	font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
