{% if collection.handle != 'fontpage' and collection.handle != 'all' %}
  {% include 'artist-profile' %}
{% else %}
<div id="collection">
  <div id="active-products">
    <div class="container">
      <div class="row products">
        <div class="for-sale-header">
          <h1 class="shadow-header section-header">For Sale Now</h1>
        </div>
        <div class="col-sm-12 for-sale-collection">
          {% for product in collection.products %}
            {% if product.metafields.visibility.expirationdate %}
              {% include 'product-loop' with collection.handle %}
              {% cycle '', '<br />' %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="archive-border" style="background-image: url({{ 'archiveborder.png' | asset_url }})"></div>
  <section id="archived-products" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="shadow-header-grey section-header">The Archive<small>These posters is no longer for sale directly on our site, but copies may be available in our vault or elsewhere around the globe. Email us at <a href="">anymore@theposters.co</a> for help.</small></h1>
        </div>
      </div>

      <div id="archived-pallet" style="display:none">
        {% for product in collection.products %}
          {% include 'product-loop' with collection.handle %}
        {% endfor %}
      </div>

      <div id="archived">

      </div>
      
    </div>
  </section>
</div>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    var productsArray = [];
    var datesArray = [];
    var products = $('#archived-pallet .product');

    products.each(function(index, productDOM){
      var expirationDate = $(this).data('expdate');
      var expMonthYear = moment(expirationDate, 'YYYY-MM-DD').format('YYYY-MM');
      var dateIndex;
      
      if(datesArray.indexOf(expMonthYear) === -1) {
        datesArray.push(expMonthYear);
      }

      dateIndex = datesArray.indexOf(expMonthYear);

      if(typeof productsArray[dateIndex] !== 'object') {
        productsArray[dateIndex] = [];
      }

      productsArray[dateIndex].push($(this));
    });

    for(var i=0; i<datesArray.length; i++) {
      if(moment(datesArray[i], 'YYYY-MM').format('YYYY-MM') < moment().format('YYYY-MM')) {
        var row = $('<div class="row products"><div class="col-sm-3"><div class="archive-section-header" style="background-image: url({{ 'archivesectionheader.png' | asset_url }})">'+moment(datesArray[i], 'YYYY-MM').format('MMM')+'<br />'+moment(datesArray[i], 'YYYY-MM').format('YYYY')+'<img src="{{ 'subscribe.gif' | asset_url }}" /></div></div><div class="col-sm-9"></div></div>');

        for(var j=0; j<productsArray[i].length; j++) {
          row.find('.col-sm-9').append(productsArray[i][j]);
        }

        $('#archived').append(row);
      }
    }

    $('#archived-products .availability').hide();
    $('#archived-pallet').remove();
    if($('#archived .products').length <= 0) {
      $('#archived-products').hide();
    }
  });
</script>