
<!-- Start products -->
{% if settings.frontpage_collection != '' %}

{% for product in collections[settings.frontpage_collection].products limit:1%}

  {% include 'product-homepage' with settings.frontpage_collection %}

  <div class="preview-section">
    
  </div>

  {% endfor %}

{% endif %}
<!-- End products -->


{% include 'we-are-posters' %}

{% include 'mission' %}

{% include 'media' %}