



{% include 'we-are-posters' %}

<div class="archive-border" style="background-image: url({{ 'archiveborder.png' | asset_url }})"></div>
<div class="mission-page-heading">
	<h2>Our Philosphy</h2>
</div>


<div class="container-fluid">

{% for article in blogs.mission.articles %}	
	<div class="mission-page-section row {% cycle 'section-left', 'section-right' %}">
	  <div class="image"></div>
	  <div class="info">
	  	<div class="info-content">
		  	<h2><span>{% cycle '1', '2', '3', '4', '5', '6', '7', '8', '9', '10' %}</span>{{ article.title }}</h2>
		    {{ article.content }}
		</div>
	  </div>
	</div>
{% endfor %} 
</div>

<script type="text/javascript">
	(function(){
		$('.info img').each(function(){
			$(this).appendTo($(this).closest('.row').find('.image'));
		});
	})();
</script>