<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="shadow-header section-header">Artists<small>Every artist featured on The Posters is special.</small></h1>
			<ul class="artist-list">
				{% for vendor in shop.vendors %}
					{% for collection in collections %}
						{% if collection.title == vendor %}
						  <li class="artist" style="background-image: url({{ collection | img_url: 'large' }})"><a href="/collections/{{ vendor | handleize }}">{{ vendor }}</a></li>
						{% endif %}
					{% endfor %}
				{% endfor %}
				<li id="join-posters"><a href="#"><img src="{{ 'joinposters.png' | asset_url }}" /></a></li>
			</ul>
		</div>
	</div>
</div>
