<div id="collection" class="artist-profile">

<div class="artist-header">
  {% if collection.image %}
    <div class="artist-image" style="background-image: url({{ collection | img_url: 'original' }})">&nbsp;</div>
  {% endif %}
  <div class="artist-title">
    <h1>{{collection.title}}</h1>
  </div>
</div>

  <div class="container">

    {% if collection.description != "" %}
      <div class="artist-description">
        {{ collection.description }}
      </div>
    {% endif %}

    <div class="artist-products">
      {% for product in collection.products limit: settings.pagination_limit %}
        {% include 'product-loop' with collection.handle %}
      {% endfor %}
    </div>

  </div>

  <div class="artist-video">
    <div class="artist-video-content"></div>
  </div>

  <div class="social-grid">
  </div>


</div>

<script type="text/javascript">
  // Move Video from description to its own section. JS hack
  $(document).ready(function(){
    $('.artist-video-content').html($('#artist-video').html());
    $('#artist-video').remove();
  })
</script>