<div id="mission-section" style="background-image: url({{ 'missionbg.png' | asset_url }})">
    <hr class="top" />
    <h2 class="mission-title">The Posters Has Funded</h2>
    <h3 class="shadow-header-inverted"><span class="funded-hours">1,276,468</span> Hours</h3>
    <h2 class="mission-footer">Of Art Class (And Counting!)</h2>
    <p><a href="/pages/mission" class="btn btn-default">Learn More About Our Mission</a></p>
    <hr class="bottom" />
</div>

<script type="text/javascript">
	(function(){
	    $('.funded-hours').each(function(){
	       var $this = $(this);
	       var numberLength = $this.text().length;
	       jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
	            duration: 4000,
	            easing: 'easeInOutExpo',
	            step: function () {
	                var s = Math.ceil(this.Counter)+"";
	                while (s.length < numberLength) s = "0" + s;
	                
	                $this.text(s);
	            }
	        });
	    });     
	            
	})();
</script>
