<div class="media-section">
    <div class="media-contents">
       <ul class="media-items">
        <li>
            <span class="wall-st"></span>
            <blockquote>&ldquo;A simple idea, perfectly executed and refreshingly easy.&rdquo;</blockquote>
        </li>
        <li class="gap right-most">
            <span class="ny-times"></span>
            <blockquote>&ldquo;A simple idea, perfectly executed and refreshingly easy.&rdquo;</blockquote>
        </li>
        <li>
            <span class="art-forum"></span>
            <blockquote>&ldquo;A simple idea, perfectly executed and refreshingly easy.&rdquo;</blockquote>
        </li>
        <li>
            <span class="vmagazine"></span>
            <blockquote>&ldquo;A simple idea, perfectly executed and refreshingly easy.&rdquo;</blockquote>
        </li>
        <li>
            <span class="art-in-america"></span>
            <blockquote>&ldquo;A simple idea, perfectly executed and refreshingly easy.&rdquo;</blockquote>
        </li>
        <li>
            <span class="bazaar"></span>
            <blockquote>&ldquo;A simple idea, perfectly executed and refreshingly easy.&rdquo;</blockquote>
        </li>
        <li class="right-most">
            <span class="dazed"></span>
            <blockquote>&ldquo;A simple idea, perfectly executed and refreshingly easy.&rdquo;</blockquote>
        </li>
      <ul>
    </div>
</div>