<div class="mission-section">
  <p>
    The posters has funded
    <strong><span class="fund-hours">1,276,468</span> Hours</strong>
    of Art class (and counting!)
    <button>Learn more about our mission</button>
  </p>
</div>