<div class="we-are-posters-section">
  
  <h2>We are the posters</h2>
  
  <div class="we-are-posters-content">
    <div class="video-container">
      <iframe width="560" height="315" src="//www.youtube.com/embed/agclaZQGXHE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="we-are-posters-social"></div>
  </div>
  
</div>