<div id="we-are-the-posters">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="section-header">We Are The Posters</h2>
      </div>
    </div>
  </div>
  <div id="we-are-the-posters-video" style="background-image: url({{ 'wearetheposters.png' | asset_url }})">
    <div class="video-container"><iframe width="560" height="315" src="//www.youtube.com/embed/_ZYtmOi7sfs" frameborder="0" allowfullscreen></iframe></div>
  </div>
</div>